FindMyFootballClient/src/META-INF/wsdl/localhost_8080/FindYourFootballWebCrawler/WebCrawler.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://findyourfootballwebcrawler.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://findyourfootballwebcrawler.mycompany.com/" name="WebCrawler">
<types>
<xsd:schema>
<xsd:import namespace="http://findyourfootballwebcrawler.mycompany.com/" schemaLocation="http://localhost:8080/FindYourFootballWebCrawler/WebCrawler?xsd=1"/>
</xsd:schema>
</types>
<message name="GetFACupFixtures">
<part name="parameters" element="tns:GetFACupFixtures"/>
</message>
<message name="GetFACupFixturesResponse">
<part name="parameters" element="tns:GetFACupFixturesResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="GetAmmenitites">
<part name="parameters" element="tns:GetAmmenitites"/>
</message>
<message name="GetAmmenititesResponse">
<part name="parameters" element="tns:GetAmmenititesResponse"/>
</message>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"/>
</message>
<message name="GetPremierFixtures">
<part name="parameters" element="tns:GetPremierFixtures"/>
</message>
<message name="GetPremierFixturesResponse">
<part name="parameters" element="tns:GetPremierFixturesResponse"/>
</message>
<message name="GetChampionsLeagueFixtures">
<part name="parameters" element="tns:GetChampionsLeagueFixtures"/>
</message>
<message name="GetChampionsLeagueFixturesResponse">
<part name="parameters" element="tns:GetChampionsLeagueFixturesResponse"/>
</message>
<message name="GetFrenchLigueOneFixtures">
<part name="parameters" element="tns:GetFrenchLigueOneFixtures"/>
</message>
<message name="GetFrenchLigueOneFixturesResponse">
<part name="parameters" element="tns:GetFrenchLigueOneFixturesResponse"/>
</message>
<message name="GetChampionshipFixtures">
<part name="parameters" element="tns:GetChampionshipFixtures"/>
</message>
<message name="GetChampionshipFixturesResponse">
<part name="parameters" element="tns:GetChampionshipFixturesResponse"/>
</message>
<message name="GetLaLigaFixtures">
<part name="parameters" element="tns:GetLaLigaFixtures"/>
</message>
<message name="GetLaLigaFixturesResponse">
<part name="parameters" element="tns:GetLaLigaFixturesResponse"/>
</message>
<message name="GetBundesligaFixtures">
<part name="parameters" element="tns:GetBundesligaFixtures"/>
</message>
<message name="GetBundesligaFixturesResponse">
<part name="parameters" element="tns:GetBundesligaFixturesResponse"/>
</message>
<message name="GetVenueFixtures">
<part name="parameters" element="tns:GetVenueFixtures"/>
</message>
<message name="GetVenueFixturesResponse">
<part name="parameters" element="tns:GetVenueFixturesResponse"/>
</message>
<portType name="WebCrawler">
<operation name="GetFACupFixtures">
<input wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetFACupFixturesRequest" message="tns:GetFACupFixtures"/>
<output wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetFACupFixturesResponse" message="tns:GetFACupFixturesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetFACupFixtures/Fault/IOException"/>
</operation>
<operation name="GetAmmenitites">
<input wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetAmmenititesRequest" message="tns:GetAmmenitites"/>
<output wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetAmmenititesResponse" message="tns:GetAmmenititesResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetAmmenitites/Fault/FileNotFoundException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetAmmenitites/Fault/IOException"/>
</operation>
<operation name="GetPremierFixtures">
<input wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetPremierFixturesRequest" message="tns:GetPremierFixtures"/>
<output wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetPremierFixturesResponse" message="tns:GetPremierFixturesResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetPremierFixtures/Fault/FileNotFoundException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetPremierFixtures/Fault/IOException"/>
</operation>
<operation name="GetChampionsLeagueFixtures">
<input wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetChampionsLeagueFixturesRequest" message="tns:GetChampionsLeagueFixtures"/>
<output wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetChampionsLeagueFixturesResponse" message="tns:GetChampionsLeagueFixturesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetChampionsLeagueFixtures/Fault/IOException"/>
</operation>
<operation name="GetFrenchLigueOneFixtures">
<input wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetFrenchLigueOneFixturesRequest" message="tns:GetFrenchLigueOneFixtures"/>
<output wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetFrenchLigueOneFixturesResponse" message="tns:GetFrenchLigueOneFixturesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetFrenchLigueOneFixtures/Fault/IOException"/>
</operation>
<operation name="GetChampionshipFixtures">
<input wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetChampionshipFixturesRequest" message="tns:GetChampionshipFixtures"/>
<output wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetChampionshipFixturesResponse" message="tns:GetChampionshipFixturesResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetChampionshipFixtures/Fault/FileNotFoundException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetChampionshipFixtures/Fault/IOException"/>
</operation>
<operation name="GetLaLigaFixtures">
<input wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetLaLigaFixturesRequest" message="tns:GetLaLigaFixtures"/>
<output wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetLaLigaFixturesResponse" message="tns:GetLaLigaFixturesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetLaLigaFixtures/Fault/IOException"/>
</operation>
<operation name="GetBundesligaFixtures">
<input wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetBundesligaFixturesRequest" message="tns:GetBundesligaFixtures"/>
<output wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetBundesligaFixturesResponse" message="tns:GetBundesligaFixturesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetBundesligaFixtures/Fault/IOException"/>
</operation>
<operation name="GetVenueFixtures">
<input wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetVenueFixturesRequest" message="tns:GetVenueFixtures"/>
<output wsam:Action="http://findyourfootballwebcrawler.mycompany.com/WebCrawler/GetVenueFixturesResponse" message="tns:GetVenueFixturesResponse"/>
</operation>
</portType>
<binding name="WebCrawlerPortBinding" type="tns:WebCrawler">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetFACupFixtures">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="GetAmmenitites">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="GetPremierFixtures">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="GetChampionsLeagueFixtures">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="GetFrenchLigueOneFixtures">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="GetChampionshipFixtures">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="GetLaLigaFixtures">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="GetBundesligaFixtures">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="GetVenueFixtures">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebCrawler">
<port name="WebCrawlerPort" binding="tns:WebCrawlerPortBinding">
<soap:address location="http://localhost:8080/FindYourFootballWebCrawler/WebCrawler"/>
</port>
</service>
</definitions>